<b:style src="./layout.css"/>
<b:isolate/>

<div class="view">
  <textarea class="source" event-input="input" event-change="input" value="{source}"/>
  <div class="flow">
    <!--{flow}-->
  </div>
</div>
